* {
    margin: 0;
    padding: 0;
    font-family: Dosis, cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* header contact start here */

.contact-header {
    background-color: #1d2736;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.header-address {
    display: flex;
}

.header-address-left {
    display: flex;
    font-weight: bolder;
    margin: 0px 0px 0px 100px;
}

.header-address-left p {
    padding-left: 7px;
}

.header-booking {
    margin-right: 210px;
}

.header-address-right {
    padding: 20px 40px;
    display: flex;
    font-weight: bolder;
    background: #ff98cb;
}

.header-address-right p {
    padding-left: 7px;
}


/* header contact end here */


/* header navigations start here */

.header-navigations {
    display: flex;
    align-items: center;
    height: 110px;
    justify-content: space-around;
}

.logo {
    width: 7%;
}

.logo img {
    width: 100%;
    border-radius: 100%;
}

.header-navs ul {
    display: flex;
}

.header-navs ul li {
    padding: 0px 10px;
    font-weight: 600;
}

.icons {
    font-size: 35px !important;
    padding-right: 16px;
}

.header-navs ul li:hover {
    color: #ff98cb;
}

.header-menus {
    display: none;
    color: #ff98cb;
}

.header-menu {
    display: none;
    color: #ff98cb;
}

.header-menu-open {
    display: block;
    color: #ff98cb;
}

.header-menu-close {
    display: none;
    color: #ff98cb;
}

.open-menu {
    display: none;
}

.close-menu {
    display: block !important;
}

.header-social a {
    padding: 0px 6px;
}


/* header navigations ends here */


/* hero-section start here */

.custom-shape-divider-bottom-1634436311 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1634436311 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1634436311 .shape-fill {
    fill: #FFFFFF;
}

.hero-area::after {
    background: #000;
}

.hero_content {
    width: 50%;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
}

.hero-area {
    /* background-image: url(../images/hero/5.jpg); */
    /* background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; */
    min-height: 120vh;
    background-color: #ff98cb;
    position: relative;
}

.hero-content {
    /* height: 34vh; */
    margin: 0px auto;
    width: 80%;
    padding: 100px 0px 0px;
    position: relative;
}

.hero-text h1 {
    color: #000;
    font-size: 60px;
    letter-spacing: 7px;
    word-spacing: 8px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.hero-text p {
    color: #000;
    margin-top: 20px;
    word-spacing: 3px;
    line-height: 30px;
    font-weight: 600;
}

.hero-btn button {
    background-color: #000;
    border: 1px solid #000;
    padding: 13px 45px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.targeted-man {
    color: #1d2736;
}

.targeted-man::before {
    content: '';
    animation: animate infinite 6s;
}

@keyframes animate {
    0% {
        content: 'man';
    }
    60% {
        content: 'team';
    }
    100% {
        content: 'company';
    }
}


/* hero-sections-ends here */


/* we-do-section start here */

.we-do-main {
    background: #1d2736;
    width: 100%;
    height: 22em;
}

.we-do-text {
    width: 41%;
}

.we-do-content {
    display: flex;
    width: 82%;
    margin: 130px auto;
}

.we-do-icon {
    width: 21%;
    z-index: 1;
    text-align: center;
    padding: 15px 0px;
    height: 3.6em;
}

.we-do-icon img {
    width: 60%;
}

.what-we-do {
    display: flex;
    border-bottom: 1px solid #929292;
}

.we-do-icon i {
    color: #fff;
    font-size: 42px;
}

.we-do-title p {
    position: relative;
    color: #d5d5d5;
    font-weight: bolder;
}

.we-do-title {
    width: 79%;
}

.we-do-title p::before {
    content: '|';
    color: #fff;
    top: 8px;
    position: relative;
    left: -9px;
    margin-top: 5px;
    font-size: 44px;
}

.we-do-title p span {
    margin-left: 61px;
    letter-spacing: 3px;
    font-size: 18px;
}

.we-do-sub-main {
    width: 136%;
    height: fit-content;
    padding: 20px;
    top: -30px;
    position: relative;
    box-shadow: 0 0 13px 0.7px rgb(0 0 0 / 10%);
    font-weight: bolder;
    text-align: left;
}

.we-do-text {
    width: 80%;
    height: 25em;
    line-height: 23px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -56px;
    padding: 49px 30px;
    box-shadow: 0 0 13px 0.7px rgb(0 0 0 / 10%);
}

.sub-main-list {
    margin: 41px 0px 0px;
    line-height: 37px;
}

.sub-main-list ul li i {
    color: #ff98cb
}

.sub-main-list ul li {
    letter-spacing: 2px;
}

.sub-main-img-planing {
    background-image: url(../images/team/4.png);
    width: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    /* left: 141px; */
    height: 25em;
    width: 51%;
}

.sub-main-img-repair {
    background-image: url(../images/team/1.png);
    width: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    /* left: 141px; */
    height: 25em;
    width: 51%;
}

.sub-main-img-maintain {
    background-image: url(../images/team/2.png);
    width: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    /* left: 141px; */
    height: 25em;
    width: 51%;
}

.sub-main-img-improvement {
    background-image: url(../images/team/3.png);
    width: 80%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    /* left: 141px; */
    height: 25em;
    width: 51%;
}

.our-company {
    padding: 132px 0px 0px;
}

.sub-company-title {
    text-align: center;
    font-weight: bolder;
    line-height: 35px;
    width: 90%;
    margin: 10px auto;
}

.sub-main-text {
    line-height: 27px;
    text-align: left;
    padding: 20px 40px;
}


/* .sub-company-title p {
        margin-top: 40px;
    } */

.our-company-title {
    text-align: center;
    background-image: url(../images/logo/section.png);
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    width: 11%;
    margin: 20px auto 40px;
    background-size: contain;
}

.our-company-title h4 {
    color: #ff98cb;
    font-weight: bolder;
    letter-spacing: 2px;
}

.our-company-title h2 {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 25px;
}

.sub-main-content {
    display: flex;
}

.open-display {
    display: none;
}

.dee-display {
    display: block;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bolder;
}

.dee-display:hover,
.dee-display-one:hover {
    background-color: #ff98cb;
    border: 1px solid #ff98cb;
    color: #fff;
    transition: all, ease-in, .3s;
}

.dee-display-one {
    display: none;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bolder;
}

.maintain-content,
.improvement-content,
.planing-content {
    display: none;
}


/* we-do-section ends here */


/* booking-section-start-here */

.booking-container {
    background-image: url(../images/corrections/1.jpg);
    padding: 100px 30px;
    background-position: center;
    background-size: cover;
    height: 21em;
}

.booking::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    top: 0;
}

.booking-first-content {
    display: flex;
    position: relative;
    margin-top: -28em;
    justify-content: space-around;
}

.booking {
    position: relative;
}

.first-input {
    display: flex;
}

.second-input {
    display: flex;
}

.check_input {
    height: 10em;
    border-radius: 3px;
    width: 90%;
}

.booking-form {
    width: fit-content;
    margin-left: 44px;
}

input {
    width: 20em;
    height: 3.5em;
    border: 1px solid #fff;
    margin-top: 20px;
    margin-left: 20px;
    padding: 7px 24px;
}

textarea {
    margin-left: 20px;
    margin-top: 30px;
    width: 43em;
    height: 63px;
    border-radius: 4px;
    padding: 32px 40px;
}

 ::placeholder {
    font-weight: bolder;
}

.booking-form button {
    padding: 14px 31px;
    background-color: #ff98cb;
    border: 1px solid #ff98cb;
    margin: 29px 0px 0px 30px;
    color: #fff;
    font-weight: bold;
}

.booking-content {
    padding: 20px 68px;
    line-height: 30px;
}

.booking-title h2 {
    font-size: 42px;
    line-height: 65px;
    color: #fff;
}

.booking-title p {
    color: #fff;
}

.booking-address {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.booking-location i {
    color: red;
    font-size: 35px;
}

.booking-location h3,
.booking-location p {
    color: #fff
}

.booking-show i {
    color: red;
    font-size: 35px;
}

.booking-show h3,
.booking-show p {
    color: #fff
}


/* booking-section-ends-here */


/* service-section-start here */

.service-section {
    padding: 165px 50px 20px;
}

.service-section-title {
    text-align: center;
    background-image: url(../images/logo/section.png);
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    width: 12%;
    margin: 20px auto 40px;
    background-size: contain;
}

.service-section-title h4 {
    color: #ff98cb;
    font-weight: bolder;
    letter-spacing: 2px;
}

.service-section-title h2 {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 25px;
}

.service-section-content {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    height: fit-content;
    box-shadow: 0 5px 13px 0 rgb(0 0 0 / 10%);
}

.card-img img {
    width: 100%;
}

.card-title {
    text-align: center;
    line-height: 28px;
    font-weight: bolder;
    top: -20px;
    position: relative;
    padding: 10px 20px;
}

.card-title h2 {
    font-size: 28px;
}

.card-title p {
    margin-top: 25px;
}

.service-logo {
    background: #5f5f5f none repeat scroll 0 0;
    border-radius: 100%;
    height: 50px;
    position: relative;
    top: -33px;
    line-height: 57px;
    margin: auto auto 16px;
    overflow: hidden;
    text-align: center;
    width: 50px;
    transition: .3s;
}

.service-logo img {
    width: 60%;
    color: #fff;
}

.card-title h2:hover {
    color: #ff98cb;
}

.card-title a {
    color: #ff98cb;
    text-align: center;
}

 :hover.card .service-logo {
    background: #ff98cb;
}


/* service-section-ends here */


/* testimonial-section start here */

.testimonial-section-title {
    background-image: url(../images/logo/section.png);
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    width: 15%;
    margin: 20px auto 40px;
    background-size: contain;
    text-align: center;
}

.testimonial-section-title h4 {
    color: #ff98cb;
    font-weight: bolder;
    letter-spacing: 2px;
}

.testimonial-section-title h2 {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 25px;
}

.testimonial-section {
    padding: 165px 0px 0px;
}

.testimonial-bg-section {
    background: #f6f6f6;
    height: 25em;
    padding-top: 80px;
}

.testimonies {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -130px;
    padding: 0px 75px;
}

.testimonial-content {
    width: 30%;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0 8px 21px 0 rgb(0 0 0 / 10%);
    height: 250px;
    background: #fff;
}

.testimonial-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.testimonial-img img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: -45px;
    position: relative;
    border: 3px solid;
}

.testimonial-text p {
    text-align: center;
    line-height: 30px;
    padding: 0px 20px;
}

 :hover.testimonial-content .testimonial-img img {
    border: 2px solid #ff98cb;
}


/* testimonial-section-end here */


/* counter-section-start here */

.counter-section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.counter-content {
    line-height: 50px;
}

.counter-img {
    display: flex;
    align-items: center;
}

.counter-img img {
    width: 35%;
}

.counter-img span {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
}

.counter-text h2 {
    font-weight: 500;
}


/* counter-section-ends here */


/* project-section-start here */

.project-section {
    padding: 165px 50px 80px;
    background: #f6f6f6;
}

.project-section-title {
    text-align: center;
    background-image: url(../images/logo/section.png);
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    width: 12%;
    margin: 20px auto 40px;
    background-size: contain;
}

.project-section-content {
    display: flex;
    justify-content: space-around;
}

.project-section-title h4 {
    color: #ff98cb;
    font-weight: bolder;
    letter-spacing: 2px;
}

.project-section-title h2 {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 25px;
}

.project-img a {
    position: relative;
    display: block;
}

.project-img>a::before {
    background: #4a4b4c none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .3s;
    transform: scale(0);
}

.project-wrapper:hover .project-img a::before {
    opacity: 0.8;
    transform: scale(1);
}

.project-img-container {
    width: 30%;
    height: auto;
}

.project-img {
    position: relative;
}

.project-img img {
    width: 100%;
    height: 16em;
    border-radius: 5px;
}

.project-text {
    bottom: 0;
    padding-bottom: 20px;
    position: absolute;
    transition: .3s;
    opacity: 0;
}

.project-wrapper:hover .project-text {
    margin-left: 20px;
    opacity: 1;
}

.project-text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}

.project-text h3 a {
    color: #ffffff;
    transition: .3s;
}

.project-text span {
    color: #fff;
}


/* project-section-ends here */


/* footer-start-here */

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 150px 100px 80px;
    background: #fff;
}

.footer-content {
    width: 24%;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
}

.footer-content ul {
    margin-top: 15px;
}

.footer-content ul li:hover {
    color: #ff98cb;
}

.footer-content ul li i {
    color: #ff98cb;
}

.footer-content p {
    margin-top: 15px;
}


/* footer-end-here */


/* copywrite start here */

.copywrite {
    background: #e9e9e9;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    color: #666666;
    font-size: 15px;
}


/* copywrite ends here */


/* about-html start here */

.about-hero {
    background-image: url(../images/corrections/4.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-about::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.about-hero-content {
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}

.about-hero-content h2 {
    font-size: 35px;
}


/* about-html-ends here */


/* service-html start here */

.service-hero {
    background-image: url(../images/corrections/4.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-service::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.service-hero-content {
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}

.service-hero-content h2 {
    font-size: 35px;
}


/* service-html ends here */


/* project-html start here */

.project-hero {
    background-image: url(../images/corrections/4.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-project::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.project-hero-content {
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}

.project-hero-content h2 {
    font-size: 35px;
}


/* project-html ends here */


/* contact-html start here */

.contact-hero {
    background-image: url(../images/corrections/4.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-contact::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.contact-hero-content {
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}

.contact-hero-content h2 {
    font-size: 35px;
}


/* contact-html ends here */


/* other-footer-start here */

.footer-container-content {
    background-image: url(../images/corrections/3.jpg);
    padding: 115px 50px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.another-footer::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.another-footer-content {
    position: relative;
    color: #fff;
    /* line-height: 40px; */
    letter-spacing: 2px;
}

.another-copywrite {
    background: #000;
}

.soma {
    color: #fff;
}


/* other-footer-ends here */


/* experience-section start here */

.experience-section {
    display: flex;
    padding: 170px 60px 0px;
    justify-content: space-around;
}

.experience-text {
    width: 35%;
}

.experience-main-head {
    line-height: 45px;
}

.experience-text h2 {
    font-size: 40px;
}

.experience-paragraph {
    margin-top: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
}

.fiften-years {
    color: #ff98cb;
}

.experience-img {
    display: flex;
    width: 52%;
    margin-right: 45px;
}

.experience-profile {
    width: 88%;
    z-index: 1;
}

.experience-service {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* justify-content: space-between; */
}

.experience-profile h3 {
    font-size: 23px;
}

.experience-service img {
    width: 20%;
    padding: 0px 40px 0px 0px;
}

.experience-price img {
    width: 20%;
    padding: 0px 40px 0px 0px;
}

.experience-proffesional img {
    width: 20%;
    padding: 0px 40px 0px 0px;
}

.experience-price {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* justify-content: space-between; */
}

.experience-proffesional {
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* justify-content: space-between; */
}

.about-handy-man {
    background-image: url(../images/about/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -100px;
    width: 100%;
    height: 36em;
}


/* experience-section ends here */


/* about-counter-start here */

.about-counter {
    background-image: url(../images/about/4.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -140px;
    display: flex;
    justify-content: space-around;
}

.another-counter::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.each-counter {
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}

.each-counter h2 {
    font-size: 40px;
}


/* about-counter-ends here */


/* team-container-start here */

.team-container {
    padding: 100px 30px;
}

.team-title {
    text-align: center;
    line-height: 40px;
    padding-bottom: 90px;
}

.team-title h2 {
    font-size: 30px;
}

.team-title p {
    font-weight: 600;
}

.team-content {
    display: flex;
    justify-content: space-around;
}

.team-content-container {
    width: 20%;
}

.team-content-wrapper {
    overflow: hidden;
}

.team-content-img {
    position: relative;
}

.team-content-img a img {
    width: 100%;
    border-radius: 5%;
}

.team-name {
    background: #ff98cb none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    position: absolute;
    right: 0;
    transition: .3s;
    opacity: 0;
    transform: translateY(100%);
    text-align: center;
}

.team-content-wrapper:hover .team-name {
    opacity: 1;
    transform: translateY(0px);
}

.team-name h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: capitalize;
}

.team-text span {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.team-name-links {
    margin-top: 14px;
}

.team-name-links>a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 18px;
    transition: .3s;
}

.team-name-links>a:last-child {
    margin-right: 0;
}

.team-name-links>a:hover {
    color: #2a2a2a;
}


/* team-container-ends here */


/* quote-section start here */

.quote-section {
    background-image: url(../images/about/5.jpg);
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.another-quote::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
}

.quote-content {
    text-align: center;
    position: relative;
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    letter-spacing: 2px;
}

.quote-content button {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    border: 1px solid #fff;
    color: #ff98cb;
}

.quote-content button:hover {
    background: #ff98cb;
    color: #fff;
    border: 1px solid #ff98cb;
}


/* quote-section-ends here */


/* client-section-start-here */

.client-section {
    padding: 100px 40px;
}

.client-section-text {
    text-align: center;
    line-height: 35px;
    font-weight: 600;
}

.clients-section-img {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}


/* client-section-ends-here */


/* service-html start here*/

.service-card {
    display: flex;
    width: 100%;
    height: fit-content;
}

.service-img {
    width: 50%;
}

.service-img img {
    width: 50%;
}

.service-html-content {
    display: block;
    padding: 40px 60px;
}

.cleaning-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 17px;
}

.cleaning-list ul {
    font-size: 20px;
    line-height: 32px;
    margin-top: 10px;
}


/* service-html ends here*/


/* main-project-start here */

.main-project {
    width: 22%
}


/* main-project-ends here */

.project-section-content-two {
    margin-top: 80px;
}


/*leave-message-section-start-here  */

.leave-message {
    padding: 100px 30px;
    display: flex;
    justify-content: space-around;
}

.leave-message-content h2 {
    margin: 20px 20px 15px;
}

.contact-form button {
    background: #ff98cb;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ff98cb;
    margin: 30px 20px;
    padding: 15px 35px;
}

.contact-form input {
    background: #f9f9f9 !important;
    border: 1px solid #cdcdcd;
}

.contact-form textarea {
    background: #f9f9f9 !important;
    border: 1px solid #cdcdcd;
}

.leave-message-content {
    width: 60%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 13px 0.7px rgb(0 0 0 / 10%);
}

.leave-message-location {
    width: 30%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 13px 0.7px rgb(0 0 0 / 10%);
}


/*leave-message-section-ends-here  */


/* contact-address start here */

.contact-address {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.leave-message-location h2 {
    padding: 0px 20px;
    font-size: 25px;
}

.leave-message-location p {
    padding: 10px 20px;
    line-height: 25px;
    font-weight: bold;
}

.contact-address h4 {
    padding: 0px 20px;
    font-size: 25px;
}

.contact-address i {
    border: 1px solid #c9c9c9;
    color: #8b8b8b;
    font-size: 24px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    transition: .3s;
}

.contact-address i:hover {
    background: #ff98cb;
    border-color: #ff98cb;
    color: #fff;
}


/* contact-address end here */


/* thank-you-section-start here */

.thank_you {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 57px 57px 10px;
}

.thank_you img {
    width: 50%;
    margin-top: -30px;
}

.thank_you h2 {
    color: purple;
    font-size: 40px;
}


/* thank-you-section-ends here */


/* thank-you-section-ends here */


}
.thank_you h2 {
    color: purple;
    font-size: 40px;
}

/* thank-you-section-ends here */

/* thank-you-section-ends here */